{% extends '::Blog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path('login_check') }}" method="post" role="form">

                        <legend class="text-center">{% trans %} Login {% endtrans %}</legend>

                        {% if login_error is not empty %}
                            <div class="form-error alert alert-danger" role="alert">
                                {{ login_error.message }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="username">{% trans %} Nombre de usuario {% endtrans %}</label>
                            <input type="text" class="form-control" name="_username" id="username" placeholder="{% trans %} Nombre de usuario {% endtrans %}" value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label for="password">{% trans %} Contraseña {% endtrans %}</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="{% trans %} Contraseña {% endtrans %}">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="remember_me" name="_remember_me" type="checkbox"> {% trans %} Recordarme {% endtrans %}
                            </label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button type="submit" class="btn btn-default btn-primary btn-lg btn-block">{% trans %} Entrar {% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form_register, {'attr': {'role': 'form'}}) }}
                    <legend class="text-center form-title">{% trans %} Registrarse {% endtrans %}</legend>

                    {% set email_errors_count = form_register.user.email.vars.errors|length %}
                    {% set username_errors_count = form_register.user.username.vars.errors|length %}
                    {% set password_errors_count = form_register.user.password.vars.errors|length %}
                    {% set repeat_password_errors_count = form_register.repeatPassword.vars.errors|length %}
                    {% set form_errors_count = form_register.vars.errors|length %}

                    {% if form_errors_count > 0 %}
                            <div class="form-error alert alert-danger" role="alert">
                                {{ form_errors(form_register) }}
                            </div>
                        {% endif %}


                    <div class="form-group {{ email_errors_count ? 'has-error has-feedback' }}">
                        {{ form_label(form_register.user.email, null, {'label_attr': {'class': 'control-label' }}) }}
                        {{ form_widget(form_register.user.email, {'attr': {'class': 'form-control', 'placeholder': form_register.user.email.vars.label }}
                        ) }}
                        {% if email_errors_count > 0 %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="form-error alert alert-danger" role="alert">
                                    {{ form_errors(form_register.user.email) }}
                                </div>
                        {% endif %}
                    </div>


                    <div class="form-group {{ username_errors_count ? 'has-error has-feedback' }}">
                        {{ form_label(form_register.user.username, null, {'label_attr': {'class': 'control-label' }}) }}
                        {{ form_widget(form_register.user.username, {'attr': {'class': 'form-control', 'placeholder': form_register.user.username.vars.label }}
                        ) }}
                        {% if username_errors_count > 0 %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="form-error alert alert-danger" role="alert">
                                    {{ form_errors(form_register.user.username) }}
                                </div>
                        {% endif %}
                    </div>

                    <div class="form-group {{ password_errors_count ? 'has-error has-feedback' }}">
                        {{ form_label(form_register.user.password, null, {'label_attr': {'class': 'control-label' }}) }}
                        {{ form_widget(form_register.user.password, {'attr': {'class': 'form-control', 'placeholder': form_register.user.password.vars.label }}
                        ) }}
                        {% if password_errors_count > 0 %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="form-error alert alert-danger" role="alert">
                                    {{ form_errors(form_register.user.password) }}
                                </div>
                        {% endif %}
                    </div>


                    <div class="form-group {{ repeat_password_errors_count ? 'has-error has-feedback' }}">
                        {{ form_label(form_register.repeatPassword, null, {'label_attr': {'class': 'control-label' }})
                        }}
                        {{ form_widget(form_register.repeatPassword, {'attr': {'class': 'form-control', 'placeholder': form_register.repeatPassword.vars.label }}
                        ) }}
                        {% if repeat_password_errors_count > 0 %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="form-error alert alert-danger" role="alert">
                                    {{ form_errors(form_register.repeatPassword) }}
                                </div>
                        {% endif %}
                    </div>

                        {{ form_widget(form_register._token) }}

                        {{ form_widget(form_register.register, {'attr': {'class': 'btn btn-default btn-primary btn-lg btn-block'}}) }}
                    {{ form_end(form_register, {'render_rest': false}) }}
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}