{% extends '::Blog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_start(form_post_create, {'attr': {'role': 'form' }}) }}

            {% set errors_title_count = form_post_create.title.vars.errors|length %}
            {% set errors_content_count = form_post_create.content.vars.errors|length %}

            {% if form_post_create.vars.errors|length > 0 %}
                <div class="form-error alert alert-danger" role="alert">
                    {{ form_errors(form_post_create) }}
                </div>
            {% endif %}

            <legend>{% trans %}Nuevo post{% endtrans %}</legend>

            <div class="form-group {{ errors_title_count > 0 ? 'has-feedback has-error' }}">
                {{ form_label(form_post_create.title, null, {'label_attr': {'class': 'control-label' }}) }}
                {{ form_widget(form_post_create.title, {'attr': {'class': 'form-control', 'placeholder': form_post_create.title.vars.label }}
                ) }}
                {% if errors_title_count > 0 %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="form-error alert alert-danger" role="alert">
                        {{ form_errors(form_post_create.title) }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group {{ errors_content_count > 0 ? 'has-feedback has-error' }}">
                {{ form_label(form_post_create.content, null, {'label_attr': {'class': 'control-label' }}) }}
                {{ form_widget(form_post_create.content, {'attr': {'class': 'form-control', 'rows': '7', 'placeholder': form_post_create.content.vars.label }}
                ) }}
                {% if errors_content_count %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="form-error alert alert-danger" role="alert">
                        {{ form_errors(form_post_create.content) }}
                    </div>
                {% endif %}
            </div>

            <a href="{{ path('blog_blog_manage') }}" style="margin-left: 10px;" type="submit"
               class="btn btn-primary pull-right">{% trans %}Volver{% endtrans %}</a>
            {{ form_widget(form_post_create.create, {'attr': {'class': 'btn btn-default btn-primary pull-right' }}) }}
            {{ form_end(form_post_create) }}
        </div>
    </div>
{% endblock %}
